{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "eslint-plugin-tsdoc"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "tsdoc/syntax": "warn"
  },
  "overrides": [
    {
      "files": ["**/*.spec.ts", "**/*.test.ts"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "env": {
        "jest/globals": true
      }
    }
  ]
}
