{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "mocha", "eslint-plugin-tsdoc"],
    "parserOptions": {
        "tsconfigRootDir": "__dirname",
        "project": ["./tsconfig.json"]
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:mocha/recommended",
        "prettier",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "rules": {
        "tsdoc/syntax": "warn"
    }
}
