cxx_weaver_output/
AutoParStats-default.json

src/**/abstracts/
!src/**/abstracts/ACxxWeaverJoinPoint.java
src/**/exceptions/CxxWeaverException.java
src/**/enums/
*.dotty
CxxWeaver.json
CxxWeaver.png
CxxWeaver.svg
